<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="src/scripts/main.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Atugatran/FontAwesome6Pro@main/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="src/styles/main.css" rel="stylesheet">
    <script src="./src/scripts/tailwind.config.js"></script>   
</head>

<body class="bg-gray-100 overflow-x-hidden font-work-sans flex justify-center pl-16">
    <!-- Sidebar -->
    <div hx-get="src/components/sidenav.htmx" hx-trigger="load"></div>
    <div class="flex-1 md:max-w-screen-2xl px-4"> 
        <!-- Header -->
        <div hx-get="src/layouts/header.htmx" hx-trigger="load"></div>
        <!-- Content -->
        <div hx-get="src/layouts/content.htmx" hx-trigger="load"></div>  
    </div> 
</body>

<script src="src/scripts/main.js"></script>

</html>