/* :root{
    --deep-purple:#16006D;
    --indigo:#3843D0;
    --cornflower-blue:#5D70D2;
    --sky:#8EA1FF;
    --sunset:#E44434;
    --mango:#FC5F36;
    --marigold:#FEAF31;
    --black-grey:#0F172A;
    --blue-light:#94A3B8;
    --sunset-light:#FC5F3633;
    --border-light: #E2E8F0;
}


.bg-deep-purple { background-color: var(--deep-purple); }
.bg-indigo { background-color: var(--indigo); }
.bg-cornflower-blue { background-color: var(--cornflower-blue); }
.bg-sky { background-color: var(--sky); }
.bg-sunset { background-color: var(--sunset); }
.bg-mango { background-color: var(--mango); }
.bg-marigold { background-color: var(--marigold); }
.bg-sunset-light { background-color: var(--sunset-light); }
.hover\:bg-sunset-light:hover {
    background-color: var(--sunset-light);
}
.hover\:bg-indigo:hover {
    background-color: var(--indigo);
}


.text-deep-purple { color: var(--deep-purple); }
.text-indigo { color: var(--indigo); }
.text-cornflower-blue { color: var(--cornflower-blue); }
.text-sky { color: var(--sky); }
.text-sunset { color: var(--sunset); }
.text-mango { color: var(--mango); }
.text-marigold { color: var(--marigold); }
.text-black-grey { color: var(--black-grey); }
.text-blue-light { color: var(--blue-light); }
.text-sunset-light { color: var(--sunset-light); }
.border-light { border-color: var(--border-light); } */

#sidebar.expanded .tooltip {
    display: none !important;
}
 .tooltip {
    display: none;
}
 #sidebar:not(.expanded) .group:hover .tooltip {
    display: block;
}

.custom-header{
    z-index: 99;
    margin-left: 64px;}
    .right-side-pad{margin-right: 52px;}
    .heading{margin-left: -8px;}
    
    .breadcrumb-link {
        color: #94A3B8;
        text-decoration: none;
        transition: color 0.2s;
    }
    
    .breadcrumb-link:hover {
        color: #16006D; 
    }
    .breadcrumb-active {
        color: #16006D;  
        font-weight: 600;  
    }
    /* Profile Card Styles */
.profile-card {
    position: relative;
}

  /* Profile Image */
.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
} 
.profile-right-side p:first-of-type {
    font-size: 11px;
}

.profile-right-side p:last-of-type {
    font-size: 12px;
    padding-top: 5px;
}

/* Profile Border */
.profile-border {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 8px;
    background-color: red;
    border-radius: 0 0 50% 50%;
}

/* Share Icon */
.share-icon {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    bottom: -30px;
    color: white;
    font-size: 1.25rem;  
}
.profile-bg{  background-color:#3843D0;}

    .profile-card {
        display: flex;
        justify-content: space-between;
       
        border-radius: 1rem;margin-right: 30px;
        background-color:#3843D0;
        color: white;position: relative;top: -14px;
    }

    .dashboard-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #8ea1ff2b;margin: 10px;
    }

    .dashboard-card-content {
        font-size: 1.75rem;
        color:white
    }

    .dashboard-card-icon {
        font-size: 1.25rem;
        align-self: start;
    }

    .profile-details {
        display: flex;
        align-items: center;
        gap: 1rem;
    }